/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Estilo para el encabezado */
h1 {
    text-align: center;
    color: #333;
}

/* Estilo para el reloj */
#clock {
    font-size: 10em;
    margin: 40px;
    text-align: center;
    font-family: 'MiFuente', sans-serif;
}


/* Estilo para los botones */
button {
    padding: 10px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para los botones al pasar el mouse por encima */
button:hover {
    background-color: #555;
}

/* Estilo para el campo de entrada de texto */
input[type=text] {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

/* Estilo para el resultado de la selección aleatoria */
#result {
    font-size: 1.5em;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}
.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}
body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, sans-serif;
}

#dark-mode-button {
    position: absolute;
    top: 10px;
    right: 10px;
	margin-top: 20px;
	background-color: #000000;
	color: #FFFFFF;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

.dark-mode {
	background-color: #1A1A1A;
	color: #FFFFFF;
}

#clock, #timer, #result {
	margin-top: 20px;
	font-size: 36px;
    font-family: 'MiFuente', sans-serif;
}

#result {
	font-weight: bold;
}
/*fuente para el reloj*/
@font-face {
    font-family: 'MiFuente';
    src: url('/ds-digital/DS-DIGII.TTF') format('truetype');
}
input[type="text"] {
    border: 2px solid orange;
}

